<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Mise à jour des données d'un bien immobilier</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div *ngIf="alertMessage" [ngClass]="{'alert-success': alertType === 'success', 'alert-error': alertType === 'error'}">
      {{ alertMessage }}
    </div>
    <form class="form" #form="ngForm" (ngSubmit)="updateImmobilier(form)">

      <input matInput name="id" [(ngModel)]="immobilier.id" hidden>

      <div class="row">
        <!-- Titre -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Titre</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput name="titre" [(ngModel)]="immobilier.titre" placeholder="Titre du bien" required #titre="ngModel" />
            <mat-error *ngIf="titre?.invalid">Le titre est requis.</mat-error>
          </mat-form-field>
        </div>

        <!-- Adresse -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Adresse</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput name="adresse" [(ngModel)]="immobilier.adresse" placeholder="Adresse du bien" required #adresse="ngModel" />
            <mat-error *ngIf="adresse?.invalid">L'adresse est requise.</mat-error>
          </mat-form-field>
        </div>

        <!-- Description -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Description</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput name="description"  [(ngModel)]="immobilier.description" placeholder="Description du bien"></textarea>
          </mat-form-field>
        </div>

        <!-- Surface -->
        <div class="col-lg-4">
          <mat-label class="f-w-600 m-b-8 d-block">Surface (m²)</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput name="surface" type="number" [(ngModel)]="immobilier.surface" placeholder="Surface" required #surface="ngModel" />
            <mat-error *ngIf="surface?.invalid">La surface est requise.</mat-error>
          </mat-form-field>
        </div>

        <!-- Nombre de pièces -->
        <div class="col-lg-4">
          <mat-label class="f-w-600 m-b-8 d-block">Nombre de pièces</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="number"  name="nombrePieces" [(ngModel)]="immobilier.nombrePieces" placeholder="Nombre de pièces" required #nombrePieces="ngModel"/>
            <mat-error *ngIf="nombrePieces?.invalid">Champ requis.</mat-error>
          </mat-form-field>
        </div>

        <!-- Image -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Image</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text"  [(ngModel)]="immobilier.imageUrl" placeholder="URL de l'image" />
          </mat-form-field>
        </div>
      </div>

      <!-- Type du bien -->
      <mat-label class="f-w-600 m-b-8 d-block">Type</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-select [(value)]="immobilier.type" name="type" required>
          <mat-option value="Appartement">Appartement</mat-option>
          <mat-option value="Maison">Maison</mat-option>
          <mat-option value="Terrain">Terrain</mat-option>
        </mat-select>
        <mat-error *ngIf="form.submitted">
          Veuillez sélectionner un type.
        </mat-error>
      </mat-form-field>

      <!-- Bouton de soumission -->
      <div class="text-center m-t-20">
        <button mat-button color="primary" type="submit">Mettre à jour</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

